.link {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    
}
.link{color: black;}
.link:hover {color: red;}
.li{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.li{
    color: white;
}
.li:hover{color: red;}
.footer{
    background-color: black;
    color: white;
    padding: 10px;
}
.table{
    padding: auto;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.table td{
    border: 1px solid black;
}
.img{
height: 500px;
width: 700px;
}
.section{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}
.main{
    margin: 10px;
}
.p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}
.ul{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}
.nav a {
    margin: 0 5px ;
    text-decoration: none;
}

.section{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-column-gap: 10px;
}

.dishes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    }
    
.dish {
    background-color: white;
    padding: 30px 40px;
    border-radius: 35px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    cursor: pointer;
    text-align: left;
    }

.dish:hover {
        border: 2px solid tomato;
        }
        
.dish img {
        width: 100%;
        border-radius: 35px;
        }
        
.dish-info {
        margin-bottom: 10px;
        }
        
 .dish .namelunch, .dish .pricelunch {
        font-size: 18px;
        color: black;
        }
        
.dish .volume {
        color: gray;
        font-size: 14px;
        }
        
.dish button {
        background-color: #f1eee9;
        padding: 10px 30px;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        width: 100%;
        }
        
.dish:hover button {
        background-color: tomato;
        }

.footerlunch{
    color: gray;
}  

.nav {
    display: flex; 
    flex-wrap: wrap;
    gap: 15px;
}


@media (max-width: 800px) {
    div.dishes{
    grid-template-columns: repeat(2, 1fr);
    }}
    
@media (max-width: 600px) { 
    section>h2{
    text-align: center;
}
    
    div.dishes{
    grid-template-columns: 1fr;
    }
}
 
a.active{
    color: tomato;
}